body,
html {
  height: 100%;
  margin: 0;
  border: 0;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("./assets/Cover.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("./assets/img2.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("");
  min-height: 400px;
}

.v1 {
  position: relative;
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.caption {
  position: absolute;
  margin-left: 74%;
  margin-top: 30%;
  transform: rotate(-5deg);
}

.caption span.border {
  background-color: #000000;
  color: #000000;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.para1 {
  letter-spacing: 5px;
  font: 30px "Lato", sans-serif;

  color: #ffffff;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}

#mypath {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: drawPath 3s forwards;
}

.digital_rain {
  position: relative;
  margin: 0;
  background-color: #000000;
}

.heart_beat {
  position: relative;
  bottom: 50%;
  height: 0;
}

#my_canvas {
  width: 100%;
  height: 100%;
}

video {
  position: relative;
  top: 50%;
  left: 50%;
  width: 47%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}
